


.elementor-897 .elementor-element.elementor-element-8f94e55 {
    --padding-top: 20px;
    --padding-bottom: 28px;
}

.elementor-10 .elementor-element.elementor-element-59d1287 {
    --padding-top: 50px;
    --padding-bottom: 130px;
}

.elementor-10 .elementor-element.elementor-element-cd2d9fb {
    --padding-bottom: 50px;
    --padding-left: 30px;
}

.elementor-897 .elementor-element.elementor-element-9010bbf {
    --padding-top: 50px;
}

.elementor-897 .elementor-element.elementor-element-c598174 {
    --padding-top: 50px;
}

.elementor-897 .elementor-element.elementor-element-50a7dc5 {
    --padding-top: 50px;
}




.elementor-1591 .elementor-element.elementor-element-0b56b2f {
    --padding-top: 55px;
    --padding-bottom: 55px;
}

.elementor-15 .elementor-element.elementor-element-d944b48 {
    --padding-top: 20px;
}

.elementor-15 .elementor-element.elementor-element-f941ad4 {
    --padding-top: 50px;
}

.elementor-15 .elementor-element.elementor-element-d944b48:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-d944b48>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(../images/h3-background02.png);
}

.elementor-39 .elementor-element.elementor-element-4ece768 {
    --padding-top: 28px;
}

.elementor-39 .elementor-element.elementor-element-8b567e4 {
    --padding-top: 28px;
}

.elementor-39 .elementor-element.elementor-element-257f213 {
    --padding-top: 28px;
}

.elementor-1591 .elementor-element.elementor-element-0b56b2f:not(.elementor-motion-effects-element-type-background), .elementor-1591 .elementor-element.elementor-element-0b56b2f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    /* background-image: url(../img/breadcrumb-1-min.jpg); */
    background-image: url(../images/top-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.elementor-15 .elementor-element.elementor-element-cf94efb {

    --padding-top: 50px;

}